<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo_hacktivshop"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_hacktivshop_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ECommerceApp"
        tools:targetApi="31">
        <activity
            android:name=".users.pembelian.UserHistoryPembelianActivity"
            android:exported="false" />
        <activity
            android:name=".users.pembelian.UserPembelianSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".users.pembelian.UserPembelianActivity"
            android:exported="false" />
        <activity
            android:name=".admin.CrudStockActivity"
            android:exported="false" />
        <activity
            android:name=".users.detail.UserDetailKueActivity"
            android:exported="false" />
        <activity
            android:name=".users.detail.UserDetailBukuActivity"
            android:exported="false" />
        <activity
            android:name=".users.detail.UserDetailElektronikActivity"
            android:exported="false" />
        <activity
            android:name=".users.detail.UserDetailBajuActivity"
            android:exported="false" />
        <activity
            android:name=".staff.About"
            android:exported="false" />
        <activity
            android:name=".admin.CrudStaffActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AddStaffActivity"
            android:exported="false" />
        <activity
            android:name=".staff.StaffMainActivity"
            android:exported="false" />
        <activity
            android:name=".staff.StaffLoginActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AddStockActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminLoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.ECommerceApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".users.UserMainActivity"
            android:exported="false" />
        <activity
            android:name=".users.UserRegisterActivity"
            android:exported="true"
            android:theme="@style/Theme.ECommerceApp.NoActionBar" />
        <activity
            android:name=".users.UserLoginActivity"
            android:exported="true"
            android:theme="@style/Theme.ECommerceApp.NoActionBar" />
    </application>

</manifest>